body {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(8,137,233,1) 50%, rgba(252,176,69,1) 100%);
    color: #fff;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
  }
  
  canvas {
    border: 2px solid #ff6600;
    border-radius: 8px;
    background-color: #feff9d;
  }
  
  .btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
  }
  
  button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 0;
    padding: 5px 20px;
    width: 100px;
  }
  button:not(:last-child) {
    margin-right: 10px;
  }
  
  .messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
  }
  
  p {
    display: block;
    margin: 0;
    width: 100%;
  }
  
  @media (max-width: 440px) {
    button { margin-top: 5px; }
    #up, #down { margin-left: 100%; margin-right: 100%; }
  }